<template>
	<div class="order-box">
		<div class="content" :style="twoBlockActions ? 'height: 60%;' : null">
            <slot name="content"></slot>
		</div>
		<div class="actions" :style="twoBlockActions ? 'height: 40%;' : null">
            <slot name="actions"></slot>
		</div>
	</div>
</template>

<script>
	export default {
        props: {
            'two-block-actions': {
                type: Boolean,
                default: false,
                isRequired: false
            }
        }
    }
</script>

<style lang="scss" scoped>
	.order-box {
        height: 100%;

        .content {
            height: 80%;

            h2 {
                margin-bottom: 6px;
            }
        }
        .actions {
            height: 20%;
        }
	}
</style>
