<template>
	<content-box two-block-actions>
		<div slot="content">
			<h2>Find your order</h2>
			<p>
				If you wish to edit or just look at your order, yoTurning away
				from the ledge, he started.
			</p>
            <p v-if="orderNotFound" class="error--text fw-700">
				We can't find an order with that email.
			</p>
		</div>
		<div slot="actions">
			<input
				@keydown.enter="checkForExistingOrder"
				placeholder="E-mail"
				class="mb-3 mt-n2 custom-input"
				v-model="findOrderEmail"
			/>
			<button
				class="btn btn-block btn-primary"
				@click="checkForExistingOrder"
			>
				Find Order
			</button>
		</div>
	</content-box>
</template>

<script>
	export default {
		data: () => ({
            findOrderEmail: '',
            orderNotFound: false
		}),
		methods: {
			checkForExistingOrder() {
				if (typeof Storage !== 'undefined') {
                    const email = localStorage.getItem('sundown_email')
                    
                    if (this.findOrderEmail === email) {
                        this.$router.push(`/order?email=${this.findOrderEmail}`)
                    } else {
                        this.orderNotFound = true
                    }
				} else {
					this.order.newOrder = true
					console.log('no localstorage')
				}
			},
		},
	}
</script>

<style>

</style>
