<template>
	<content-box>
		<div slot="content">
			<h2>Order now</h2>
            <p>It was their first date and she had been looking forward to it the entire week. She had her eyes on him for.</p>
		</div>
		<div slot="actions">
			<button class="btn btn-block btn-primary" @click="$router.push('/order')">
				Order
			</button>
		</div>
	</content-box>
</template>

<script>
    import ContentBox from '@/components/front-page/content-box'
	export default {
        components: {
            ContentBox
        }
    }
</script>

<style lang="scss" scoped>
	.order-box {
        height: 100%;

        .content {
            height: 80%;

            h2 {
                margin-bottom: 6px;
            }
        }
        .actions {
            height: 20%;
        }
	}
</style>
