<template>
	<header class="toolbar">
		<div class="logo">
			<logo style="height: 60px; width: 60px;"></logo>
		</div>
		<nav>
			<ul>
				<li>
					<nuxt-link class="btn btn-small btn-primary" to="/">
						HOME
					</nuxt-link>
				</li>
				<li>
					<nuxt-link class="btn btn-small btn-primary" to="/order">
						ORDER
					</nuxt-link>
				</li>
				<li>
					<a class="btn btn-small btn-primary" href="#">
						CONTACT
					</a>
				</li>
			</ul>
		</nav>
	</header>
</template>

<script>
	import Logo from '@/components/logo'
	export default {
		components: {
			Logo,
		},
	}
</script>

<style lang="scss" scoped>
	.toolbar {
		height: 120px;
		width: 100%;
		// background-color: #eee;
		// border: 1px solid rgb(221, 231, 236);
		display: flex;
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		padding: 0 50px;

		nav {
			height: 100%;

			ul {
				height: 100%;
				display: flex;
				align-items: center;
				list-style: none;
				padding-left: 0;

				li {
					height: 100%;
					display: flex;
					align-items: center;

					a {
						text-decoration: none;
						margin-right: 50px;
						padding: 12px 24px;
						background-color: transparent !important;
					}
					a:hover {
						background-color: #ba2329 !important;
					}
				}
				li:last-child {
					a {
						margin-right: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 800px) {
		.toolbar {
			padding: 0 40px;

			nav {
				ul {
					li {
						a {
							margin-right: 18px;
							padding: 12px 16px;
						}
					}
					li:last-child {
						a {
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 1000px) {
		.toolbar {
			padding: 0 200px;
		}
	}
</style>
