<template>
	<v-col
		cols="12"
		:md="receipt ? '12' : '4'"
		v-if="order.meal"
	>
		<!-- <p v-for="drink in chosenDrinks" :key="drink.id">{{ drink.name }}</p> -->
		<div :class="receipt ? 'wide' : ''" class="pa-3 order-summary">
			<h5 v-if="!receipt" class="summary-title">Summary</h5>
			<p class="mb-2">Meal</p>
			<ul class="meal">
				<li v-if="order.meal.strMeal">{{ order.meal.strMeal }}</li>
			</ul>

			<p v-if="chosenDrinks.length > 0 || step > 1" class="mt-5 mb-2">
				Drinks
			</p>
			<ul v-if="chosenDrinks.length > 0 || step > 1" class="drinks">
				<li v-for="drink in chosenDrinks" :key="drink.id">
					{{ drink.name }}
				</li>
			</ul>

			<p v-if="receipt" class="mt-5 mb-2">
				Your info
			</p>
			<ul v-if="receipt" class="your-info">
				<li>
					<!-- could be formatted prettier but ran out of time -->
					<b>Date:</b> {{ order.date.slice(0,10) }}
				</li>
				<li>
					<b>Time:</b> {{ `${order.time.HH}:${order.time.mm}` }}
				</li>
				<li>
					<b>Number of guests:</b> {{ order.guests }}
				</li>
				<li>
					<b>Email:</b> {{ order.email }}
				</li>
			</ul>
		</div>
		<v-container v-if="!receipt" grid-list-md>
			<v-row>
				<v-col cols="12" sm="6">
					<button
						:disabled="step === 1"
						@click="$emit('back')"
						class="btn btn-small btn-primary btn-block outline"
					>
						Back
					</button>
				</v-col>
				<v-col cols="12" sm="6">
					<button
						v-if="step === 3"
						class="btn btn-small btn-primary btn-block"
						@click="$emit('next')"
					>
						{{ order.newOrder ? 'ORDER' : 'UPDATE ORDER' }}
					</button>
					<button
						v-else
						:disabled="disableContinue"
						@click="$emit('next')"
						class="btn btn-small btn-primary btn-block"
					>
						Continue
					</button>
				</v-col>
			</v-row>
		</v-container>
	</v-col>
</template>

<script>
	export default {
		data: () => ({
			chosenDrinks: [],
		}),
		computed: {
			disableContinue() {
				if (this.step === 2) {
					return 10 < this.order.drinks.length ||
								this.order.drinks.length < 1
				}
				else if (this.step === 3) {
					return !this.order.email || !this.order.date || !this.order.time.HH || !this.order.time.mm || !this.order.guests
				} else return false
			}
		},
		props: {
			receipt: {
				default: false,
				type: Boolean,
			},
			order: {
				type: Object,
				isRequired: true,
			},
			step: {
				type: Number,
				isRequired: true,
			},
		},
		mounted() {
			this.getChosenDrinks()
		},
		watch: {
			'order.drinks'(val) {
				this.getChosenDrinks()
			},
		},
		methods: {
			orderPlaced() {
				this.$emit('order-placed')
			},
			getChosenDrinks() {
				const drinksApi = 'https://api.punkapi.com/v2/beers?ids='
				let ids = this.order.drinks
					.map((id) => {
						return id + 1
					})
					.join('|')

				this.$axios
					.get(drinksApi + ids)
					.then((res) => {
						this.chosenDrinks = res.data
					})
					.catch((err) => {
						console.log(err)
					})
			},
		},
	}
</script>

<style scoped lang="scss">
	.btn.btn-primary.btn-block.outline {
		padding: 8px 0 !important;
		color: #ba2329 !important;
	}
	.btn.btn-primary.btn-block.outline:hover {
		color: #fff !important;
	}
	.btn.btn-primary.btn-block.outline:hover:disabled {
		color: #ba2329 !important;
	}
	.order-summary {
		p {
			font-size: 18px;
			color: rgb(129, 129, 129);
			font-weight: 700;
		}

		.summary-title {
			font-size: 26px;
			margin-bottom: 10px;
		}

		ul {
			list-style: none;
			padding-left: 0;

			li {
				margin-bottom: 6px;
				font-size: 14px;

				b {
					color: rgb(56, 56, 56);
				}
			}
		}
		ul:not(.your-info) li:before {
			content: '-  ';
		}
	}

	.order-summary.wide {
		p {
			font-size: 24px;
		}

		.summary-title {
			font-size: 36px;
		}

		ul {
			li {
				font-size: 18px;
			}
		}
	}

	@media screen and (max-width: 800px) {
		p {
			font-size: 20px;
		}
		li {
			font-size: 16px;
		}
		.summary-title {
			font-size: 26px;
		}
	}
</style>
