* {
	font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}
.theme--light.v-application {
	background-color: #007ddb !important;
}

.btn,
.vdatetime-popup__actions div {
	cursor: pointer;
	border: none;
	padding: 10px 48px;
	outline: none;
	font-weight: 700;
	font-size: 16px;
	border-radius: 12px;
	text-transform: uppercase;
	transition: 0.25s;
	text-align: center;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.btn-small {
	padding: 10px 36px;
	border-radius: 12px;
	font-size: 12px;
}

.btn-large {
	padding: 14px 54px;
	font-size: 22px;
}

.btn-block {
	padding-right: 0;
	padding-left: 0;
	width: 100%;
}

.btn-primary,
.vdatetime-popup__actions div {
	background: #ba2329;
	color: #fff !important;
}

.btn-primary.outline {
	border: 2px solid #ba2329;
	color: #ba2329;
	background-color: #fff;
}

.btn-primary:hover:not(:disabled),
.btn-primary:active:not(:disabled),
.vdatetime-popup__actions div:hover {
	background: #631518;
}
.btn-primary.outline:hover:not(:disabled),
.btn-primary.outline:active:not(:disabled) {
	border: 2px solid #ba2329;
	color: #fff;
	background-color: #ba2329;
}

.btn-secondary {
	background: #007ddb;
	color: #fff;
}

.btn-secondary:hover:not(:disabled),
.btn-secondary:active:not(:disabled) {
	background: #05518b;
}

.loader {
	border: 6px solid #f3f3f3;
	border-top: 6px solid #ba2329;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s ease-in-out infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.3s ease-in;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.loading-box {
	height: 480px;
	display: flex;
	align-items: center;
	justify-content: center;
}

// override style datepicker
.vdatetime-popup__header {
	background-color: #ba2329 !important;
}
.vdatetime-calendar__month__weekday,
.vdatetime-calendar__month__day,
.vdatetime-popup__year {
	font-weight: 400 !important;
}
.vdatetime-popup__actions {
	display: flex;
	justify-content: space-around;
	padding: 16px 10px !important;

	div {
		width: 45%;
		padding: 10px 0;
		border-radius: 13px;
	}
}
.vdatetime-popup {
	border-radius: 20px !important;
	overflow: hidden;
}
// override style timepicker
.vue__time-picker .dropdown ul li:not([disabled]).active,
.vue__time-picker .dropdown ul li:not([disabled]).active:hover,
.vue__time-picker .dropdown ul li:not([disabled]).active:focus {
	background-color: #ba2329 !important;
}
.vue__time-picker {
	width: unset !important;

	input.display-time {
		height: unset !important;
	}
}

.order-flow-info {
	text-align: center;
	width: 100%;

	h1 {
		font-size: 40px;
		margin: 0 0 12px;
	}
	p {
		font-size: 20px;
		margin-bottom: 30px !important;
		padding: 0 150px;
	}
}

@media screen and (max-width: 800px) {
	.order-flow-info {
		text-align: center;
		width: 100%;

		h1 {
			font-size: 30px;
			margin: 0 0 10px;
		}
		p {
			font-size: 16px;
			margin-bottom: 15px !important;
			padding: 0 20px;
		}
	}
}

.custom-form {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 0 24px 18px;

	label {
		font-weight: 700;
		transition: 0.25s;
		margin: 0 0 5px 5px;
	}
}

.custom-input,
.vdatetime-input,
.display-time {
	border: 2px solid #747474 !important;
	border-radius: 12px !important;
	font-size: 18px !important;
	padding: 8px 12px !important;
	margin-bottom: 24px !important;
	width: 100% !important;
	outline: none !important;
	transition: 0.25s;
}
.custom-input:focus,
.vdatetime-input:focus,
.display-time:focus {
	border-color: #ba2329 !important;
}

.opacity-0 {
	opacity: 0 !important;
}
.row-no-n-margin {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
}
.fw-700 {
	font-weight: 700;
}
.max-two-lines {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
}
