<template>
	<div style="padding: 12px 24px;">
		<v-row style="border-radius: 15px;" class="white pa-10">
			<div class="order-flow-info">
				<h1>{{ stepsInfo[step - 1].header }}</h1>
				<p>{{ stepsInfo[step - 1].description }}</p>
			</div>
			<Dish
				:order="order"
				@newMeal="setMeal"
				@next="nextStep()"
				v-if="step === 1 && localStorageChecked"
			/>
			<Drink
				:chosenDrinks="order.drinks"
				@drinksChosen="setDrinks"
				@next="nextStep()"
				v-if="step === 2"
			/>
			<Order
				:order="order"
				@order-placed="nextStep()"
				@new-date="setDate"
				@new-time="setTime"
				@new-guests="setGuests"
				@new-email="setEmail"
				v-if="step === 3"
			/>
			<order-summary v-if="step !== 4" @back="prevStep()" @next="nextStep()" :order="order" :step="step"></order-summary>
			<Receipt
				@receipt-mounted="storeOrderLocally"
				:order="order"
				:step="step"
				@next="nextStep()"
				v-if="step === 4"
			/>
		</v-row>
	</div>
</template>

<script>
	import Dish from '@/components/order/dish'
	import Drink from '@/components/order/drink'
	import Order from '@/components/order/order'
	import Receipt from '@/components/order/receipt'
	import OrderSummary from '@/components/order-summary.vue'

	export default {
		mounted() {
			this.checkAndGetExistingOrderInfo()
		},
		methods: {
			postOrderToAPI() {
				// waiting for api from backend devs
				// this.$axios.post(API, this.order).....
			},
			storeOrderLocally() {
				if (typeof Storage !== 'undefined') {
					localStorage.setItem('sundown_email', this.order.email)
					localStorage.setItem(
						'sundown_drinkIds',
						this.order.drinks.join(',')
					)
					localStorage.setItem('sundown_dishId', this.order.mealId)
					localStorage.setItem('sundown_date', this.order.date)
					localStorage.setItem('sundown_time_HH', this.order.time.HH)
					localStorage.setItem('sundown_time_mm', this.order.time.mm)
					localStorage.setItem('sundown_guests', this.order.guests)
				} else {
					console.log('Ingen localstorage')
				}
			},
			finalizeAndPlaceOrder() {
				this.nextStep()
				// this.storeOrderLocally()
				// this.postOrderToAPI()
			},
			checkAndGetExistingOrderInfo() {
				if (this.$route.query.email) {
					if (typeof Storage !== 'undefined') {
						const email = localStorage.getItem('sundown_email')
						const drinks = localStorage
							.getItem('sundown_drinkIds')
							.split(',')
						const dishId = localStorage.getItem('sundown_dishId')
						const date = localStorage.getItem('sundown_date')
						const timeHH = localStorage.getItem('sundown_time_HH')
						const timeMm = localStorage.getItem('sundown_time_mm')
						const guests = localStorage.getItem('sundown_guests')

						if (
							email === this.$route.query.email &&
							drinks &&
							dishId
						) {
							this.order.newOrder = false
							this.order.mealId = dishId
							this.order.email = email
							this.order.date = date
							this.order.time.HH = timeHH
							this.order.time.mm = timeMm
							this.order.guests = guests

							drinks.forEach((numberAsString) => {
								this.order.drinks.push(parseInt(numberAsString))
							})
						} else {
							this.order.newOrder = true
						}
					} else {
						this.order.newOrder = true
						console.log('no localstorage')
					}
				} else {
					this.order.newOrder = true
				}
				this.localStorageChecked = true
			},
			nextStep() {
				this.step++
			},
			prevStep() {
				if (this.step !== 1) this.step--
			},
			setMeal(meal) {
				this.order.mealId = meal.idMeal
				this.order.meal = meal
			},
			setDrinks(drinks) {
				this.order.drinks = drinks
			},
			setReservationData(reservation) {
				this.order.date = reservation.date
				this.order.time = reservation.time
				this.order.guests = reservation.guests
				this.order.email = reservation.email
			},
			setDate(date) {
				this.order.date = date
			},
			setTime(time) {
				this.order.time = time
			},
			setGuests(guests) {
				this.order.guests = guests
			},
			setEmail(email) {
				this.order.email = email
			},
		},
		data: () => ({
			step: 1,
			stepsInfo: [
				{
					header: 'Pick a dish',
					description: "Generate a new if you're picky.",
				},
				{
					header: 'Choose your drinks',
					description: 'You need to pick at least 1 beverage and max 10.',
				},
				{
					header: 'Pick a date',
					description: 'Let us know when you want to visit us.',
				},
				{
					header: 'Do you need the receipt?',
					description: "Take a screenshot or come back for it later. You can find it later by entering your email on the home page.",
				},
			],
			localStorageChecked: false,
			order: {
				newOrder: true,
				meal: null,
				mealId: '',
				drinks: [],
				date: null,
				time: {
					HH: null,
					mm: null,
				},
				guests: 1,
				email: '',
			},
		}),
		components: {
			Dish,
			Drink,
			Order,
			Receipt,
			OrderSummary,
		},
	}
</script>

<style scoped lang="scss">
	ul.order-nav {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 18px 100px;
		display: flex;
		flex-flow: row;
		box-sizing: border-box;
		justify-content: space-between;

		li {
			padding: 10px 20px;
			box-sizing: border-box;
			cursor: pointer;
		}
		li.active {
			color: #ba2329;
			font-weight: 500;
		}
	}

	.go-back {
		display: absolute !important;
		top: 0 !important;
		left: 0 !important;
	}
</style>
