<template>
	<v-app dark>
		<nav-bar />
		<v-main>
			<v-container class="pt-0">
				<nuxt />
			</v-container>
		</v-main>
		<v-footer class="mt-10">
			<span>&copy; {{ new Date().getFullYear() }}</span>
		</v-footer>
	</v-app>
</template>

<script>
	import NavBar from '@/components/nav-bar'

	export default {
		components: {
			NavBar
		},
		data() {
			return {
			}
		},
	}
</script>
