<template>
	<v-container class="pt-0">
		<v-row justify="center" align="center">
			<v-col cols="12" md="8">
				<div class="mock">SLIDER</div>
			</v-col>
			<v-col cols="12" md="4">
				<div class="mock">
					<order-box />
				</div>
			</v-col>
			<v-col cols="12" sm="6">
				<div class="mock">
					<edit-order-box />
				</div>
			</v-col>
			<v-col cols="12" sm="6">
				<div class="mock">
					<content-box>
						<div slot="content">
							<h2>Random content</h2>
							<p>
								Mega fed paragraf. After all the time and effort
								she'd invested into it, she never thought that
								it would be anything but wonderful. It goes
								without saying that things didn't work out quite
								as she expected.
							</p>
						</div>
						<div slot="actions">
							<button class="btn-block btn btn-primary">
								READ MORE
							</button>
						</div>
					</content-box>
				</div>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
	import OrderBox from '@/components/front-page/order-box'
	import ContentBox from '@/components/front-page/content-box'
	import EditOrderBox from '../components/front-page/edit-order-box.vue'

	export default {
		components: {
			OrderBox,
			ContentBox,
			EditOrderBox,
		},
		data: () => ({
			findOrderEmail: '',
		}),
	}
</script>

<style scoped lang="scss">
	div.mock {
		height: 300px;
		background-color: #fff;
		padding: 18px 30px;
		border-radius: 15px;
		overflow: hidden;
	}
	@media screen and (max-width: 900px) {
		div.mock {
			height: 360px;
		}
	}
	@media screen and (max-width: 700px) {
		div.mock {
			height: 400px;
		}
	}
	@media screen and (max-width: 600px) {
		div.mock {
			height: 340px;
		}
	}
</style>
