<template>
	<transition name="fade">
		<v-col v-if="!error && meal && !loading" cols="12" md="8">
			<v-img v-if="meal" height="300" :src="meal.strMealThumb"></v-img>
			<h6 class="meal-category">{{ meal.strCategory }}</h6>
			<h3 class="meal-title">
				{{ meal.strMeal }}
				<button @click="getDish('force')" class="ml-3 generate-new-button">
					<v-icon size="24">mdi-autorenew</v-icon>
				</button>
			</h3>

			<p class="meal-description">
				It was difficult for him to admit he was wrong. He had been so
				certain that he was correct and the deeply held belief could
				never be shaken. Yet the proof that he had been incorrect stood
				right before his eyes. "See daddy, I told you that they are
				real!" his daughter excitedly proclaimed.
			</p>
		</v-col>
	</transition>
</template>

<script>
	export default {
		props: {
			order: {
				type: Object,
				default: null,
			},
		},
		data: () => ({
			loading: false,
			error: false,
			meal: null,
		}),
		methods: {
			next() {
				this.$emit('next')
			},
			getDish(force) {
				this.loading = true
				this.meal = null
				let mealApi =
					'https://www.themealdb.com/api/json/v1/1/random.php'

				if (!force && !this.order.newOrder && this.order.mealId) {
					mealApi = `https://www.themealdb.com/api/json/v1/1/lookup.php?i=${this.order.mealId}`
				}

				this.$axios
					.get(mealApi)
					.then((res) => {
						this.meal = res.data.meals[0]
						this.loading = false
						this.$emit('newMeal', this.meal)
					})
					.catch((err) => {
						console.log(err)
						this.loading = false
						this.error = true
					})
			},
		},
		beforeDestroy() {
			if (this.meal) this.$emit('newMeal', this.meal)
		},
		mounted() {
			if (this.order.meal) {
				this.meal = this.order.meal
			} else {
				this.getDish()
			}
		},
	}
</script>

<style lang="scss" scoped>
	.meal-category {
		color: rgb(155, 155, 155);
		font-size: 18px;
		margin: 24px 0 0;
	}
	.meal-title {
		font-size: 28px;
		margin: 0px 0 16px;
	}
	.meal-description {
		font-size: 16px;
	}
	.generate-new-button {
		color: rgb(158, 158, 158);
		transform: translateY(-3px);
		transition: 0.2s;

		i {
			border-radius: 50%;
			padding: 5px;
		}
	}
	.generate-new-button i:hover {
		background-color: rgb(200, 200, 200) !important;
	}
</style>
