<template>
	<!-- <v-row> -->
		<v-col
			cols="12"
			md="8"
			class="row-no-n-margin"
			v-if="drinks && !loading"
		>
			<v-col
				@click="choseDrink(i)"
				class="drink-box mb-10 "
				:class="isMarked(i) ? 'marked' : null"
				v-for="(drink, i) in drinks"
				:key="drink.id"
				cols="4"
				md="4"
				lg="3"
			>
				<div style="height: 30%;">
					<h5 class="max-two-lines text-center mb-5">{{ drink.name }}</h5>
				</div>
				<v-img contain height="70%" :src="drink.image_url"> </v-img>
			</v-col>
		</v-col>
		<!-- <transition name="fade">
			<v-col v-if="loading" class="loading-box" cols="12" md="8">
				<div class="loader"></div>
			</v-col>
		</transition>
		<v-col cols="12" md="4">
			<button
				:disabled="markedDrinks.length <= 0"
				@click="$emit('next')"
				class="btn btn-primary"
			>
				Næste
			</button>
		</v-col> -->
	<!-- </v-row> -->
</template>

<script>
	export default {
		props: {
			chosenDrinks: {
				type: Array,
				default: null,
			},
		},
		data: () => ({
			drinks: null,
			markedDrinks: [],
			loading: false,
			error: false,
		}),
		methods: {
			isMarked(i) {
				return this.markedDrinks.includes(i)
			},
			choseDrink(i) {
				if (this.isMarked(i)) {
					const deleteIndex = this.markedDrinks.indexOf(i)
					this.markedDrinks.splice(deleteIndex, 1)
				} else {
					this.markedDrinks.push(i)
				}
			},
			next() {
				this.$emit('next')
			},
			getDrinks() {
				this.loading = true
				this.$axios
					.get('https://api.punkapi.com/v2/beers')
					.then((res) => {
						this.drinks = res.data
						this.loading = false
					})
					.catch((err) => {
						console.log(err)
						this.loading = false
						this.error = true
					})
			},
		},
		mounted() {
			this.getDrinks()
			if (this.chosenDrinks) {
				this.markedDrinks = this.chosenDrinks
			}
		},
		beforeDestroy() {
			this.$emit('drinksChosen', this.markedDrinks)
		},
	}
</script>

<style lang="scss" scoped>
	.row-no-n-margin {
		display: inline-flex;
	 		flex-wrap: wrap;
	}
	.drink-box {
		max-height: 250px;
		box-sizing: border-box;
		padding: 20px;
		border-radius: 25px;
		border: 10px solid white;
		// background-color: rgba(0, 0, 0, 0.10);
		cursor: pointer;
		display: flex;
		flex-flow: column;
		transition: background-color 0.2s;
	}

	.drink-box:hover:not(.marked) {
	background-color: rgba(0, 0, 0, 0.10);
	}

	.drink-box:hover.marked {
	background-color: rgba(0, 0, 0, 0.22);
	}

	.marked {
		background-color: rgba(0, 0, 0, 0.3);
	}
</style>
