<template>
	<v-col cols="12" md="8" class="pt-6">
		<h5 class="your-info-title">Your information</h5>
		<form class="custom-form">
			<label :class="!reservation.date ? 'opacity-0' : null">Date:</label>
			<datetime
				placeholder="Pick date"
				type="date"
				:min-datetime="new Date().toISOString()"
				v-model="reservation.date"
			></datetime>
			<label
				:class="
					reservation.time.HH === '' && reservation.time.mm === ''
						? 'opacity-0'
						: null
				"
				>Time:</label
			>
			<vue-timepicker
				hide-clear-button
				close-on-complete
				v-model="reservation.time"
				placeholder="Pick time"
				hide-disabled-items
				format="HH:mm"
				:hour-range="[[16, 22]]"
				:minute-range="[0, 15, 30, 45]"
			></vue-timepicker>
			<label :class="reservation.guests.length === 0 ? 'opacity-0' : null"
				>Number of guests: <span class="error--text" v-if="validation.guestsError">Min 1 and max 10</span></label
			>
			<input
				placeholder="Number of guests"
				v-model="reservation.guests"
				class="custom-input"
				type="number"
				name="guests"
			/>
			<label :class="reservation.email.length === 0 ? 'opacity-0' : null"
				>Email: <span class="error--text" v-if="validation.emailError">Please type a valid email</span></label
			>
			<input
				v-model="reservation.email"
				class="custom-input"
				placeholder="Email"
				placeholdertype="email"
				name="email"
			/>
		</form>
	</v-col>
</template>

<script>
	import VueTimepicker from 'vue2-timepicker/src/vue-timepicker.vue'

	export default {
		props: {
			order: {
				type: Object,
				isRequired: true,
			},
		},
		components: {
			VueTimepicker,
		},
		data: () => ({
			dateToday: '',
			reservation: {
				date: null,
				time: {
					HH: '',
					mm: '',
				},
				email: '',
				guests: 0,
			},
			menu: false,
			loading: false,
			error: false,
			validation: {
				emailError: false,
				guestsError: false
			}
		}),
		watch: {
			'reservation.date'(val) {
				this.$emit('new-date', val)
			},
			'reservation.time'(val) {
				if (val.HH && val.mm) {
					console.log(val)
					this.$emit('new-time', val)
				}
			},
			'reservation.guests'(val) {
				if (val > 0 && val < 11) {
					this.validation.guestsError = false
					this.$emit('new-guests', val)
				} else {
					this.validation.guestsError = true
					this.$emit('new-guests', 0)
				}
			},
			'reservation.email'(val) {
				const emailValidation = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
				if (val) {
					console.log(emailValidation.test(val))
					if (emailValidation.test(val)) {
						this.validation.emailError = false
						this.$emit('new-email', val)
					} else {
						this.validation.emailError = true
						this.$emit('new-email', '')
					}
				}
			},
		},
		methods: {
			todayDateToString() {
				const now = new Date()
				const year = now.getFullYear()
				const month = now.getMonth()
				const day = now.getDate()
				this.dateToday = `${year}-${month}-${day}`
			},
			setExistingValues() {
				if (!this.order.newOrder) {
					if (this.order.date) this.reservation.date = this.order.date
					if (this.order.time.HH)
						this.reservation.time.HH = this.order.time.HH
					if (this.order.time.mm)
						this.reservation.time.mm = this.order.time.mm
					if (this.order.email) this.reservation.email = this.order.email
					if (this.order.guests)
						this.reservation.guests = this.order.guests
				}
			},
		},
		mounted() {
			this.todayDateToString()
			this.setExistingValues()
		},
		beforeDestroy() {
			this.$emit('save-data', this.reservation)
		},
	}
</script>

<style>
	.your-info-title {
		font-size: 26px;
		padding-left: 24px;
	}
</style>
