<template>
	<v-col cols="12" lg="10" offset-lg="1" class="pt-6">
		<h5 class="mb-n3 your-info-title">Your order</h5>
		<order-summary :step="step" :order="order" receipt />
	</v-col>
</template>

<script>
	import OrderSummary from '@/components/order-summary'
	export default {
		props: {
			order: {
				type: Object,
				required: true,
			},
			step: {
				type: Number,
				required: true
			},
		},
		components: {
			OrderSummary,
		},
		mounted() {
			this.$emit('receipt-mounted')
		},
	}
</script>

<style scoped lang="scss">
.your-info-title {
	font-size: 34px !important;
}
</style>
